{{ define "topheader" }}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ .title }} • Mini Social Network</title>
    <link rel="icon" href="/images/favicon.png" type="image/png">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
    <link rel="stylesheet" href="/css/font-awesome4.7.0.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/styles/dist/styles.css">
  </head>
  <body>

{{ end }}
